<div class="page-content">
  <div class="form-v1-content">
    <div class="wizard-form">

      <section>
        <div class="inner">
          <form (ngSubmit)="addform(f)" #f="ngForm"
            style="height:300px;margin-left: 10%;margin-right: 10%;margin-top:10%; margin-bottom: 10%;">
            <p style="text-align: center;"><b>Forget Password</b></p>
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <fieldset>
                  <legend>Your Email </legend>
                  <input type="text" placeholder="Your Email" class="form-control" required name="ngo_email" [(ngModel)]="ngo_email" required>
                </fieldset>
              </div>
            </div>




            <div>
            <button mat-button (click)="onForget()" id="btn_green" type="submit" class="btn"
                style="float:right;">Send Code</button>
            </div>



          </form>

        </div>

      </section>
    </div>




  </div>
</div>
