<div class="wrapper">
    <form action="" id="wizard">
        <!-- SECTION 1 -->
        <h2></h2>
        <section>
            <div class="inner">
                <div class="image-holder">
                    <img src="assets/img/bg-image-11.jpg" alt="">
                     </div>
                
                <div class="form-content" >
                    <div class="form-header1">
                        <h3>Registration</h3>
                    </div>
                    <p>Please fill with your details</p>
                    <div class="form-row1">
                        <div class="form-holder1">
                            <input type="text" placeholder="First Name" class="form-control1">
                        </div>
                        <div class="form-holder1">
                            <input type="text" placeholder="Last Name" class="form-control1">
                        </div>
                    </div>
                    <div class="form-row1">
                        <div class="form-holder1">
                            <input type="text" placeholder="Your Email" class="form-control1">
                        </div>
                        <div class="form-holder1">
                            <input type="number" placeholder="Phone Number" class="form-control1">
                        </div>
                    </div>
                    <div class="form-row1">
                        <div class="form-holder1">
                            <input type="text" placeholder="Age" class="form-control1">
                        </div>
                        <div class="form-holder1" style="align-self: flex-end; transform: translateY(4px);">
                            <div class="checkbox-tick1">
                                <label class="male">
                                    <input type="radio" name="gender" value="male" checked> Male<br>
                                    <span class="checkmark1"></span>
                                </label>
                                <label class="female">
                                    <input type="radio" name="gender" value="female"> Female<br>
                                    <span class="checkmark1"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox-circle1">
                        <label class="l1"> 
                            <input type="checkbox" checked> Nor again is there anyone who loves or pursues or desires to obtaini.
                            <span class="checkmark2"></span>
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION 2 -->
        <h2></h2>
        <section>
            <div class="inner">
                <div class="image-holder">
                    <img src="assets/img/bg-image-11.jpg" alt="">
                </div>
                <div class="form-content">
                    <div class="form-header">
                        <h3 style="margin-left:14%">Registration</h3>
                    </div>
                    <p>Please fill with additional info</p>
                    <div class="form-row1">
                        <div class="form-holder1 w-100">
                            <input type="text" placeholder="Address" class="form-control1">
                        </div>
                    </div>
                    <div class="form-row1">
                        <div class="form-holder1">
                            <input type="text" placeholder="City" class="form-control1">
                        </div>
                        <div class="form-holder1">
                            <input type="text" placeholder="Zip Code" class="form-control1">
                        </div>
                    </div>

                    <div class="form-row1">
                        <div class="select">
                            <div class="form-holder1">
                                <div class="select-control">Your country</div>
                                <i class="zmdi zmdi-caret-down"></i>
                            </div>
                            <ul class="dropdown">
                                <li rel="United States">United States</li>
                                <li rel="United Kingdom">United Kingdom</li>
                                <li rel="Viet Nam">Viet Nam</li>
                            </ul>
                        </div>
                        <div class="form-holder1"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION 3 -->
        <h2></h2>
        <section>
            <div class="inner">
                <div class="image-holder">
                    <img src="assets/img/bg-image-11.jpg" alt="">
                </div>
                <div class="form-content">
                    <div class="form-header">
                        <h3 style="margin-left:14%">Registration</h3>
                    </div>
                    <p>Send an optional message</p>
                    <div class="form-row1">
                        <div class="form-holder1 w-100">
                            <textarea name="" id="" placeholder="Your messagere here!" class="form-control1" style="height: 99px;"></textarea>
                        </div>
                    </div>
                    <div class="checkbox-circle1 mt-24">
                        <label class="l1">
                            <input type="checkbox" checked>  Please accept <a href="#">terms and conditions ?</a>
                            <span class="checkmark2"></span>
                        </label>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
